<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tambah Rekening</title>
    <h1 class="text-center">Tambah Rekening</h1>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

<!--input form tambah rekening-->
<div id="data-collection" class="container">
    <span th:if="${sukses}" th:text="${sukses}" ></span>
    <br>
    <div id="add-nasabah" class="mb-3">
        <form class="row g-3" th:action="@{/tambahrekening/save}" method="post" style="width: 30%;">
            <div class="col-12">
                <label class="form-label">Nama</label>
                <input type="text" class="form-control" th:field="${nasabahModel.nama}"/>
            </div>
            <div class="col-12">
                <label class="form-label">No Identitas</label>
                <input type="text" class="form-control" th:field="${nasabahModel.noIdentitas}"/>
            </div>
            <div class="col-12">
                <label class="form-label">Tipe Identitas</label>
                <input type="text" class="form-control" th:field="${nasabahModel.tipeIdentitas}"/>
            </div>
            <div class="col-12">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" th:field="${nasabahModel.email}"/>
            </div>
            <div class="col-12">
                <label class="form-label">Contact</label>
                <input type="text" class="form-control" th:field="${nasabahModel.noKontak}"/>
            </div>
            <div class="col-12">
                <label class="form-label">No Rekening</label>
                <input type="text" class="form-control" th:field="${rekeningModel.noRekening}"/>
            </div>
            <div>
                <label>Provider Bank</label>
                <select name="pvd" id="pvd" class="form-control" th:field="${providerModel.name}">
                    <option th:each="provider : ${providers}"
                            th:value="${provider.name}"
                            th:text="${provider.name}">
                    </option>
                </select>
            </div>
            <br>
            <br>
            <div class="col-12">
                <input type="submit" class="btn btn-primary" value="Tambah Rekening"/>
            </div>
            <br>
        </form>
            <span th:if="${success}" th:text="${success}"></span>
        </div>
    <br>
    <br>

    <!--tabel hasil tambah rekening-->
        <div id="data-table" class="container">
            <h2>Daftar Nasabah</h2>
            <br>
            <br>
                <table class="table table-light table-striped">
                    <thead class="table-dark">
                    <tr>
                        <td>Nama</td>
                        <td>No Identitas</td>
                        <td>Tipe Identitas</td>
                        <td>Email</td>
                        <td>Kontak</td>
                        <td>No Rekening</td>
                        <td>Bank Provider</td>
                    </tr>
                    </thead>
                    <tbody th:each="rekening1 : ${rekening}">
                    <tr>
                        <td th:text="${rekening1.nasabah.nama}"></td>
                        <td th:text="${rekening1.nasabah.noIdentitas}"></td>
                        <td th:text="${rekening1.nasabah.tipeIdentitas}"></td>
                        <td th:text="${rekening1.nasabah.email}"></td>
                        <td th:text="${rekening1.nasabah.noKontak}"></td>
                        <td th:text="${rekening1.noRekening}"></td>
                         	<td th:text="${rekening1.provider.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
    <!--button logout-->
    <div class="col-12">
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="07b8ec05-fe21-4819-80b1-2ad57ae9450e"/>
            <input class="btn btn-danger" type="submit" value="Logout"/>
        </form>
    </div>
        </div>
    </div>
</div>
</body>
<script inline="javascript">
/*
    var baseUrl = "";

    function deleteData(data){
        var conf = confirm("Are You Sure ?")
        if(conf == true){
            window.location = baseUrl + "tambahrekening/delete?id="+data;
        }

        return false;
    }*/
</script>
</html>